<section style="background-color: #43485d; color: white" id="mesm_workshop">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3>About Allison</h3>
                <!--<hr class="light">-->
                <h5>Allison is a lecturer at the Bren School of Environmental Science and Management (UC Santa Barbara), where she has been teaching data analysis, statistics, and presentation skills courses in an applied environmental graduate program since 2012. In addition, she teaches introductory and refresher workshops in R for incoming graduate students and alumni. She is a co-founder of R-Ladies Santa Barbara, and recently co-founded a #tidytuesday coding club at UCSB. Allison completed her studies in engineering (BS Chemical Engineering, MS Mechanical Engineering) before earning her PhD in Environmental Nanotoxicology from UCSB.</h5>
                <br>
              <h4>Teaching</h4>
              <ul>
                <li>ESM 206: Introductory data analysis and statistics in environmental science and management (2012 - present)</li>
                <li>ESM 244: Advanced methods in environmental data science (2012 - present)</li>
                <li>ESM 438: Presentation skills for environmental professionals (2013 - present)</li>
                <li>Calculus intensive workshop: a 2-week calculus refresher course for incoming graduate students at the Bren School (2008 - present)</li>
                <li>Data analysis workshop: a 2-week quantitative methods and introduction to R workshop for incoming PhD students at UCSB (2016 - present)</li>
                </ul>
                <br>
                <h4>Distinctions</h4>
                <ul>
                <li>Bren School Distinguished Teaching Award (2018)</li>
                <li>UC Santa Barbara Distinguished Teaching Award (2019)</li>
                </ul>
                <br>
                <h5>Allison is also a fine artist, graphic designer, fly-fisher, hiker, backpacker, wanderer, and proud aunt to three nieces and two nephews. She splits time between Santa Barbara, CA, and Aspendell, CA, where she lives with her partner Greg and their silly rescue dog, Teddy.</h5>

            </div>
        </div>
    </div>
</section>
