<section style="background-color: #43485d; color: white" id="mesm_workshop">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3>About Sam</h3>
                <!--<hr class="light">-->
                <h5>Sam is an assistant professor at the Bren School of Environmental Science and Management (UC Santa Barbara). Her research focuses on tropical Pacific climate variability and its response to climate change in global climate model simulations. Sam earned her PhD in atmospheric and oceanic science from the University of Colorado Boulder in December 2011, then did a postdoc at the University of Hawaii and worked as a research scientist at the National Center for Atmospheric Research before joining the UCSB faculty in 2017.</h5>
                <br>
              <h4>Teaching</h4>
              <ul>
                <li>ESM 203: Introduction to Earth System Science </li>
                <li>ESM 237: Climate Change Impacts and Adaptation </li>
                <li>EDS 220: Remote Sensing and Environmental Data</li>

                </ul>
                <br>
                <h4>Distinctions</h4>

                <br>
                <h5></h5>

            </div>
        </div>
    </div>
</section>
