<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ESM 206</h2>
                <hr class="light">
                <p class="text-faded">An introduction to data science and statistics in R for graduate students at the Bren School of Environmental Science and Management (UC Santa Barbara).</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ESM 244</h2>
                <hr class="light">
                <p class="text-faded">A survey course in selected methods for environmental data analysis in R.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
