<section style="background-color: #43485d; color: white" id="create_206">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>ESM 206: Introduction to environmental data analysis & stats in R</h3>
                <!--<hr class="light">-->
                <!--<p class="text-faded">An introduction to statistics and data science in R for grad students at the Bren School of Environmental Science and Management (UCSB).</p>-->
            </div>
        </div>
    </div>
</section>
