<section style="background-color: #43485d; color: white" id="create_244">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>ESM 244: Advanced methods for environmental data analysis in R</h3>
                <img src="/img/esm_244.png" alt="esm_206" style="width:160px;height:145px;border:0px; margin: 20px">
                <!--<hr class="light">-->
                <!--<p class="text-faded">A survey course in selected advanced methods for environmental data analysis in R.</p>-->
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section> <!--<h2 class="section-heading">ESM 244</h2>-->


