<section style="background-color: #43485d; color: white" id="create_206">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>EDS 220: Remote Sensing and Environmental Data</h3>
                <img src="/img/esm_206.png" alt="eds220" style="width:120px;height:135px;border:0px; margin: 20px">
                <!--<hr class="light">-->
                <!--<p class="text-faded">An introduction to working with various environmental datasets for grad students at the Bren School of Environmental Science and Management (UCSB).</p>-->
            </div>
        </div>
    </div>
</section>
