<section style="background-color: #c6c5d5;">
<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="gray">
<colgroup>
<col width="12%"></col>
<col width="44%"></col>
<col width="44%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>LAB MATERIALS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>0</td>
<td>During orientation: get started with R, RStudio and GitHub</td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_0">Get R/RStudio and the tidyverse</a><br><a href="https://docs.google.com/document/d/1zx2upJJqFZe94O3BQSMI56Z76s3haLXC0otKSpcZaJQ/edit?usp=sharing">Get and configure GitHub</a></td>
</tr>
<tr class="even">
<td>1</td>
<td><a href="https://docs.google.com/presentation/d/1cPWa6NqbEot8dBjVC7UKPjF72Q7myYjHqyBYS9HO_qg/edit?usp=sharing">Lecture 1: Course intro</a><br><a href="https://docs.google.com/presentation/d/17ejVv4SJgpU7fD09By0zCIdb7tnstfH-Yadj8UOGXHQ/edit?usp=sharing">Lecture 2: Data exploration, probability density, assessing normality</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_1">Lab 1: Intro to R/RStudio, R projects, scripts</a></td>
</tr>
<tr class="odd">
<td>2</td>
<td><a href="https://docs.google.com/presentation/d/1W5jr6XmWDHanGXaceAWT8nyJealdqT57p_z9SWsTepk/edit?usp=sharing">Lecture 3: Central limit theorem, confidence intervals, t-distribution</a><br><a href="https://docs.google.com/presentation/d/1rgd1_cJvxCemUBuIQhcZV62F4zEgjxIrba6tH_Ieykg/edit?usp=sharing">Lecture 4: The hypothesis test system</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_2">Lab 2: Basic wrangling and visualization, Rmarkdown intro</a></td>
</tr>
<tr class="even">
<td>3</td>
<td><a href>Lecture 5</a><br><a href>Lecture 6</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_3">Lab 3: Z-distribution probabilities, t-tests</a></td>
</tr>
<tr class="odd">
<td>4</td>
<td><a href>Lecture 7</a><br><a href>Lecture 8</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_4">Lab 4: Exploratory graphs, wrangling, t-test, effect size, power</a></td>
</tr>
<tr class="even">
<td>5</td>
<td><a href>Lecture 9</a><br><a href>Lecture 10</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_5">Lab 5: Wrangling, power, joins, viz</a></td>
</tr>
<tr class="odd">
<td>6</td>
<td><a href>Lecture 11</a><br><a href>Lecture 12</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_6">Lab 6: GitHub intro, wrangling, visualization, ANOVA</a></td>
</tr>
<tr class="even">
<td>7</td>
<td><a href>Lecture 13</a><br><a href>Lecture 14</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_7">Lab 7: GitHub continued, chi-square, rank-based tests</a></td>
</tr>
<tr class="odd">
<td>8</td>
<td><a href>Lecture 15</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_8">Lab 8 (take home): Simple linear regression</a></td>
</tr>
<tr class="even">
<td>9</td>
<td><a href>Lecture 16</a><br><a href>Lecture 17</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_9">Lab 9: Multiple linear regression</a></td>
</tr>
<tr class="odd">
<td>10</td>
<td><a href>Lecture 18</a><br><a href>Lecture 19</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_10">Lab 10: Heatmaps, gganimate</a></td>
</tr>
</tbody>
</table>

</section>
