<section style="background-color: #efeadf; color: gray">
<br>

<h4 style="margin-left:50px"><b>ESM 206 MATERIALS (FALL 2019)</b></h4>
<br>

<p><b>Course description:</b> Develop critical thinking, technical and communication skills to successfully approach and answer environmental questions using quantitative and qualitative data. Topics include: data wrangling using the tidyverse and tidy data principles, exploratory data analysis and visualization, descriptive statistics, uncertainty, hypothesis testing, data visualization and communication. Best practices for reproducibility, version control and collaboration are emphasized throughout. Skills will be developed through wrangling, analysis and communication of datasets using R, RStudio and GitHub.</p>

<p><b>Course goals:</b></p>
 <ul style="margin-left:40px">
  <li>Intro to R/RStudio</li>
  <li>Data wrangling with the tidyverse</li>
  <li>Data visualization with ggplot2</li>
  <li>Exploratory data analysis</li>
  <li>Summary statistics and hypothesis testing</li>
  <li>Regression (linear, logistic)</li>
  <li>Reproducible workflows for collaborative data science</li>
</ul>
<br>
<p><a href="https://docs.google.com/document/d/1QzrC0SCL4SYFAPC0xmOMElM2MGjXXCxzTjNpmt1SDnY/edit?usp=sharing"><b>ESM 206 course syllabus (Fall 2019)</b></a></p>
<p><a href="https://docs.google.com/document/d/1GXPBo3LA-GWo1z8RiKw9tsP3uaItQ6roy3_XfpXLMBI/edit?usp=sharing"><b>ESM 206 Code of Conduct</b></a></p>
<br>

<h4>Note: All ESM 206 lab materials for Fall 2019 are now compiled in <a href="https://github.com/allisonhorst/esm-206-labs-2019">this repo</a></h4>
<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="white">
<colgroup>
<col width="10%"></col>
<col width="30%"></col>
<col width="30%"></col>
<col width="30%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>LAB MATERIALS</th>
<th>READING</th>
</tr>
</thead>
<tbody>
<tr class="odd" valign="top">
<td>0</td>
<td>During orientation: get started with R, RStudio and GitHub</td>
<td><a href="https://docs.google.com/document/d/1Imcx8ZropMF5tmLF6As02OJam-r1pNexu5pULczCwMA/edit?usp=sharing">Get R/RStudio and the tidyverse</a><br><a href="https://docs.google.com/document/d/1zx2upJJqFZe94O3BQSMI56Z76s3haLXC0otKSpcZaJQ/edit?usp=sharing">Get started with Git/GitHub</a></td><td>None</td>
</tr>
<tr class="even" valign="top">
<td>1</td>
<td><a href="https://docs.google.com/presentation/d/1Xhu2IzzdGJP2QIx8GJS2yP4kCSvnexR1hrihYJmsm6A/edit?usp=sharing">Lecture 1: Course intro; computational reproducibility; R & RStudio</a><br><br><a href="https://docs.google.com/presentation/d/1u1DdhU_WTv1b-sbQgqVGAE-bA2Nq_Yym8BzcPW4lS3k/edit?usp=sharing">Lecture 2: Naming things; tidy data; basic troubleshooting and getting help with R</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 1: Meet RStudio, projects, scripts, basic reading & wrangling, intro to ggplot2</a></td><td><a href="https://www.tandfonline.com/doi/full/10.1080/00031305.2017.1375989">Broman & Woo "Data organization in spreadsheets</a><br><br><a href="https://www.nature.com/articles/s41559-017-0160">Lowndes et al. "Our path to better science in less time using open data science tools"</a><td>
</tr>
<tr class="odd" valign="top">
<td>2</td>
<td><a href="https://docs.google.com/presentation/d/1vtDVWs4GUwjwUgr8q0V6c1a6MUzMfDPsHfQha66shxE/edit?usp=sharing">Lecture 3: Code style tips; intro to R Markdown</a><br><br><a href="https://docs.google.com/presentation/d/1q8XCJZLhLHn3ilMWk_jP0EhiTHN8teAMQVL6uPcxO84/edit?usp=sharing">Lecture 4: Version control with Git & GitHub overview; exploratory data visualization</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 2: Intro to R Markdown, data wrangling continued, tidyr::pivot_*, joins, and customizing a ggplot graph</a></td><td><a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Wilson et al. "Good enough practices in scientific computing"</a><br><br>Chapters 4 - 7 in <a href="https://serialmentor.com/dataviz/">"Fundamentals of Data Visualization"</a> by Claus O. Wilke</td>
</tr>
<tr class="even" valign="top">
<td>3</td>
<td><a href="https://docs.google.com/presentation/d/1mfoVllajqjTlxJ3NMOq8LGEl5ruN8Gps5TFIUNRcsIM/edit?usp=sharing">Lecture 5: Data visualization Part 1</a><br><a href="https://docs.google.com/presentation/d/1ybKbcDSCCqaCBLn6-hfenoye5GECIUqYQwvb4_BYFQs/edit?usp=sharing">Lecture 6: Data visualization Part 2</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 3: Data visualization, dplyr::case_when(), purrr::modify_if(), writing files & saving figures, {here} for file paths</a></td><td>Chapters 9 - 11 in <a href="https://serialmentor.com/dataviz/">"Fundamentals of Data Visualization"</a> by Claus O. Wilke<br><br>Ch. 5 (Data Transformation) in <a href="https://r4ds.had.co.nz/transform.html">R for Data Science</a> by Grolemund & Wickham</td>
</tr>
<tr class="odd" valign="top">
<td>4</td>
<td><a href="https://docs.google.com/presentation/d/1y4kWkEkZSSFY3KpkeoTVtbJN2Cc_DuZGnDzvDXOf2SI/edit?usp=sharing">Lecture 7: Axis labels & figure captions; types of data; central tendency & data spread</a><br><br><a href="https://docs.google.com/presentation/d/1t1Pjuk90-dFPazNMAeb21Av5z-BtF6jpwpQ391J0niU/edit?usp=sharing">Lecture 8: Guest lecture (Jessica Couture) - Open Science and Metadata</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 4: Meet GitHub; work between RStudio & GitHub; tabs in markdown; interactive graphs & tables with plotly & DT; annotate ggplots</a></td><td>No new reading - catch up on previous weeks & study for midterm</td>
</tr>
<tr class="even" valign="top">
<td>5</td>
<td><a href="https://docs.google.com/presentation/d/1VrkkDV-g_W4GLTfi3lW1dh0Oasg6esfZvTYqVAjkHhs/edit?usp=sharing">Lecture 9: Exploring distributions, probability density, uncertainty intro, and hypothesis test overview</a><br><br>Midterm Wednesday</td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 5: Counting things, exploring normality, parsing dates, t-tests intro</a></td><td>No Week 5 reading</td>
</tr>
<tr class="odd" valign="top">
<td>6</td>
<td><a href="https://docs.google.com/presentation/d/1xacQSy4QfWgMmyK3CXyh7CqVfH_b07kUWXR1gvFZhdI/edit?usp=sharing">Lecture 10: What are p-values; what aren't p-values; one- and two-sample t-tests</a><br><br><a href="https://docs.google.com/presentation/d/1QNla1bCrddcgbkRBf-H4OjITFh1G31cQkA_a41ZUI6g/edit?usp=sharing">Lecture 11: Means comparisons continued (t-tests)</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 6: two-sample t-tests, intro to basic functions and for loops</a></td><td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3444174/">Using effect size - or why the p-value is not enough</a></td>
</tr>
<tr class="even" valign="top">
<td>7</td>
<td><a>(Monday holiday)</a><br><a href="https://docs.google.com/presentation/d/1C1x4Bnnfi7Ewi4yVYIPvnjsu_G7IKll88Wzx4WoyAQw/edit?usp=sharing">Lecture 12: Type II and Type II errors, effect size, one-way ANOVA intro</a><br></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 7: T-tests, in-line reporting of hypothesis test outcomes, effect size, a table with kableExtra</a></td><td></td>
</tr>
<tr class="odd">
<td>8</td>
<td><a href="https://docs.google.com/presentation/d/18-EPEZbKXF4MgY1HlMDssnuRxKtpAeEOA5K-QIBxBQ0/edit?usp=sharing">Lecture 13: One-way ANOVA continued, post-hoc tests, overview of rank-based tests</a><br><a href="https://docs.google.com/presentation/d/10o4bszUTUAgWxDVucoar_JzUWPLwF1Lk7nDuWxqqF-Q/edit?usp=sharing">Lecture 14: Chi-square test for independence</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 8: One-way ANOVA, chi-square, tables, plotting means and standard errors</a></td><td></td>
</tr>
<tr class="even">
<td>9</td>
<td><a href="https://docs.google.com/presentation/d/1PlODyIxcBdp7Fj6lst1sGYwc5joy2tQ-qMzB6FzAbqY/edit?usp=sharing">Lecture 15: Simple linear regression by OLS, coefficient of determination, Pearson's <i>r</i></a><br><a href="https://github.com/allisonhorst/esm-206-f2019-lecture-16-mlr">Lecture 16 handout: Multiple linear regression introduction (read through before taking quiz)</a>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 9: Simple linear regression (see docs on GauchoSpace)</a></td><td></td>
</tr>
<tr class="odd">
<td>10</td>
<td><a href="https://docs.google.com/presentation/d/14zmfOw5_PbKI9HQFPRMvnhBa8SmWzivMaQOpkbg7PZw/edit?usp=sharing">Lecture 17: Multiple linear regression continued</a><br><a href="https://docs.google.com/presentation/d/1SoiVXBMfb6UI7jtK1_zS3gXbHhjGnPEt5xeUooEz6As/edit?usp=sharing">Lecture 18: Moving forward with regression, recap, and more important things</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-labs-2019">Lab 10: Multiple linear regression & other fun stuff</a></td>
</tr>
</tbody>
</table>
<br>

<p><b>Course resources:</b></p>
<ul style="margin-left:40px">
<li><a href="https://r4ds.had.co.nz/">R for Data Science (Grolemund & Wickham)</a></li>
<li><a href="https://rc2e.com/">R Cookbook, 2nd Ed. (Long & Teeter)</a></li>
<li><a href="https://serialmentor.com/dataviz/">Fundamentals of Data Visualization by Claus Wilke</a></li>
<li><a href="http://ohi-science.org/data-science-training/">Ocean Health Index Open Data Science Training</a></li>
<li><a href="https://happygitwithr.com/">Happy Git with R by Jenny Bryan</a></li>
<li><a href="https://github.com/allisonhorst/ten-examples-each">In progress: Allison's "ten-examples-each" of common tidyverse functions</a></li>
</ul>

<p><b>ESM 206 ARCHIVES</b></p>
<ul style="margin-left:40px">
  <li>ESM 206 (Fall 2018): <a href="https://drive.google.com/open?id=1w1OsKgqS4wytSIXvYjXDNJt4D9uBvdEE">Lectures</a> / <a href="https://github.com/allisonhorst/esm-206-labs-fall-2018">Labs</a>
  </li>
</ul>
</section>
