<section style="background-color: #ffffff; color: black">
<br>

<h4 style="margin-left:50px"><b>EDS 220 MATERIALS (FALL 2021)</b></h4>
<br>


<p><b>Course description:</b> </p>

<p><b>Course goals:</b></p>
 <ul style="margin-left:40px">
  <li>Exploratory data analysis</li>
  <li>Reproducible workflows for collaborative data science</li>
</ul>
<br>
<p><a href="https://docs.google.com/document/d/1GQxkrk6je4SYHKDiGoX-6Gumnybi12f5FM1k25jeRGA/edit"><b>EDS 220 course syllabus (Fall 2021)</b></a></p>
<p><a href=""><b>EDS 220 Code of Conduct</b></a></p>
<br>

<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="gainsboro">
<colgroup>
<col width="10%"></col>
<col width="30%"></col>
<col width="30%"></col>
<col width="30%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>LAB MATERIALS</th>
<th>READING</th>
</tr>
</thead>
<tbody>
<tr class="odd" valign="top">
<td>0</td>
<td>Getting started with environmental data</td>
<td></td><td></td>
</tr>
<tr class="even" valign="top">
<td>1</td>
<td><a href="">Week 1 Slides</a><br><br></td>
<td>Coming soon</td><td><a href="">Broman & Woo (2018): Data organization in spreadsheets</a><br><br><a href="https://www-nature-com.proxy.library.ucsb.edu:9443/articles/s41559-017-0160">Lowndes et al. (2017): Our path to better science in less time using open data science tools</a><td>
</tr>
<tr class="odd" valign="top">
<td>2</td>
<td><a href="https://docs.google.com/presentation/d/1IlQlBbZo53C_NUl-A9MHxQZZiubiiyFKV_nf1hFwAeM/edit?usp=sharing">Week 2 Slides</a></td>
<td>Coming soon</td><td><a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Wilson et al. (2017): Good enough practices in scientific computing</a><br><br><a href="https://clauswilke.com/dataviz/index.html">Ch. 1 - 5 in Claus Wilke's Fundamentals of Data Visualization</a></td>
</tr>
<tr class="even" valign="top">
<td>3</td>
<td><a href="https://clauswilke.com/dataviz/index.html">Week 3 Slides</a></td>
<td>Coming soon</td><td>No reading</td>
</tr>
<tr class="even" valign="top">
<td>4</td>
<td><a href="https://docs.google.com/presentation/d/1ZrHYNgRiTR40HN_6h4oQoMAf1MW6SYedHBFfJzzPT3Q/edit?usp=sharing">Week 4 Slides</a></td>
<td>Coming soon</td><td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3444174/#i1949-8357-4-3-279-Kline1">Sullivan & Feinn (2012). Using effect size - or why the p-value is not enough.</a></td>
</tr>
<tr class="even" valign="top">
<td>5</td>
<td><a href="https://docs.google.com/presentation/d/1WFX3uKcqjVi3SbtpNWDMS7vEkDvQx6JexvI9gzGrSjo/edit?usp=sharing">Week 5 Slides</a></td>
<td>Coming soon</td><td><a href="https://academic.oup.com/bioscience/article/68/10/813/5088531">Cheruvelil, KS and PA Soranno (2018). Data-intensive ecological research is catalyzed by open science and team science. BioScience 68 (10): 813 - 822</a><br><br><a href="https://www.americanscientist.org/article/open-science-isnt-always-open-to-all-scientists">Bahlai, C et al. (2019). Open science isn’t always open to all scientists. American Scientist 107 (2): 78</a></td>
</tr>
<tr class="even" valign="top">
<td>6</td>
<td><a href="https://docs.google.com/presentation/d/1hCzqSFuUa7SxPHkVZnoZh56vLpmb3J0mLq7259zU1VY/edit?usp=sharing">Week 6 Slides</a></td>
<td>Coming soon</td><td>No reading</td>
</tr>
<tr class="even" valign="top">
<td>7</td>
<td>Week 7: TA Teaching Week! (see GauchoSpace)</td>
<td>Coming soon</td><td><a href="https://esajournals.onlinelibrary.wiley.com/doi/full/10.1890/ES14-00402.1">Hampton et al. (2015). The Tao of open science for ecology. Ecosphere 6  (7): 1 - 13</a><br><br><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0199789">Couture JL, Blake RE, McDonald G, Ward CL (2018) A funder-imposed data publication requirement seldom inspired data sharing. PLoS ONE 13(7): e0199789</a></td>
</tr>
<tr class="even" valign="top">
<td>8</td>
<td><a href="https://docs.google.com/presentation/d/1FI6BZMkTcDQPkAriEPVhqfohYoX6FC7U-BeQYUGbooA/edit?usp=sharing">Week 8 Slides</a><td>Coming soon</td><td><a href="https://press.anu.edu.au/publications/series/caepr/indigenous-data-sovereignty">Ch 14 in Indigenous Data Sovereignty, <i>Building a data revolution in Indian Country</i> by Dr. Desi Rodriguez-Lonebear</td>
</tr>
<tr class="even" valign="top">
<td>9</td>
<td><a href="https://docs.google.com/presentation/d/1FI6BZMkTcDQPkAriEPVhqfohYoX6FC7U-BeQYUGbooA/edit?usp=sharing">Week 9 Slides</a></td>
<td>Coming soon</td><td>No reading</td>
</tr>
<tr class="even" valign="top">
<td>10</td>
<td><a href="https://docs.google.com/presentation/d/1GwFeQQoxJMIashffVkls_X9wQJ-fRSSCYK9gOxgEDfw/edit?usp=sharing">Week 10 Slides</a></td>
<td>Coming soon</td><td><a href="https://core.ac.uk/reader/46522315">Mah, Alice. (2016) Environmental justice in the age of big data : challenging toxic blind spots of voice, speed, and expertise. Environmental Sociology.doi: 10.1080/23251042.2016.1220849</a></td>
</tr>
</tbody>
</table>
<br>

<p><b>Course resources:</b></p>
<ul style="margin-left:40px">
<li><a href="https://r4ds.had.co.nz/">R for Data Science (Grolemund & Wickham)</a></li>
<li><a href="https://rc2e.com/">R Cookbook, 2nd Ed. (Long & Teeter)</a></li>
<li><a href="https://serialmentor.com/dataviz/">Fundamentals of Data Visualization by Claus Wilke</a></li>
<li><a href="http://ohi-science.org/data-science-training/">Ocean Health Index Open Data Science Training</a></li>
<li><a href="https://happygitwithr.com/">Happy Git with R by Jenny Bryan</a></li>
</ul>


</section>
