<section style="background-color: #efeadf; color: gray">
<br>
<p><b>Course description:</b> Develop critical thinking, technical and communication skills to successfully approach and answer environmental questions using quantitative and qualitative data. Topics include: data wrangling using the tidyverse and tidy data principles, exploratory data analysis and visualization, descriptive statistics, uncertainty, hypothesis testing, data visualization and communication. Best practices for reproducibility, version control and collaboration are emphasized throughout. Skills will be developed through wrangling, analysis and communication of datasets using R, RStudio and GitHub.</p>

<p><b>Cours goals:</b></p>
 <ul>
  <li>Intro to R/RStudio</li>
  <li>Data wrangling with the tidyverse</li>
  <li>Data visualization with ggplot2</li>
  <li>Exploratory data analysis</li>
  <li>Summary statistics and hypothesis testing</li>
  <li>Regression (linear, logistic)</li>
  <li>Reproducible workflows for collaborative data science</li>
</ul>
<br>
<p><a href="https://docs.google.com/document/d/1fMRSv7N4RyigFSjEESPHDiardi8a1xY6P1lHy_-xbbA/edit?usp=sharing"><b>ESM 206 course syllabus (Fall 2018)</b></a></p>
<p><a href="https://docs.google.com/document/d/1GXPBo3LA-GWo1z8RiKw9tsP3uaItQ6roy3_XfpXLMBI/edit?usp=sharing"><b>Code of Conduct</b></a></p>
<br>


<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="white">
<colgroup>
<col width="12%"></col>
<col width="50%"></col>
<col width="38%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>LAB MATERIALS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>0</td>
<td>During orientation: get started with R, RStudio and GitHub</td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_0">Get R/RStudio and the tidyverse</a><br><a href="https://docs.google.com/document/d/1zx2upJJqFZe94O3BQSMI56Z76s3haLXC0otKSpcZaJQ/edit?usp=sharing">Get and configure GitHub</a></td>
</tr>
<tr class="even">
<td>1</td>
<td><a href="https://docs.google.com/presentation/d/1cPWa6NqbEot8dBjVC7UKPjF72Q7myYjHqyBYS9HO_qg/edit?usp=sharing">Lecture 1: Course intro</a><br><a href="https://docs.google.com/presentation/d/17ejVv4SJgpU7fD09By0zCIdb7tnstfH-Yadj8UOGXHQ/edit?usp=sharing">Lecture 2: Data exploration, probability density, assessing normality</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_1">Lab 1: Intro to R/RStudio, R projects, scripts</a></td>
</tr>
<tr class="odd">
<td>2</td>
<td><a href="https://docs.google.com/presentation/d/1W5jr6XmWDHanGXaceAWT8nyJealdqT57p_z9SWsTepk/edit?usp=sharing">Lecture 3: Central limit theorem, confidence intervals, t-distribution</a><br><a href="https://docs.google.com/presentation/d/1rgd1_cJvxCemUBuIQhcZV62F4zEgjxIrba6tH_Ieykg/edit?usp=sharing">Lecture 4: The hypothesis test system</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_2">Lab 2: Basic wrangling and visualization, Rmarkdown intro</a></td>
</tr>
<tr class="even">
<td>3</td>
<td><a href="https://docs.google.com/presentation/d/1dt2hlAtu2wlzYh9TSUDDjqta13WVcNDgadCfjf8UYSk/edit?usp=sharing">Lecture 5: Meaning of the p-value, 2-sample t-tests</a><br><a href="https://docs.google.com/presentation/d/1ZI4YaGPeRfJSu0GgEoVnsHd9t_B5J90GkfdUY7xxlto/edit?usp=sharing">Lecture 6: T-tests continued, p-value considerations, errors, power</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_3">Lab 3: Z-distribution probabilities, t-tests</a></td>
</tr>
<tr class="odd">
<td>4</td>
<td><a href="https://docs.google.com/presentation/d/1QOvpfGgDhGbYeZbDx1OgM9JWMr99Yp9tOMaZBA-KylQ/edit?usp=sharing">Lecture 7: Power, effect size, communicating means differences</a><br><a href="https://docs.google.com/presentation/d/1AcHWEK_ggQDUWDrf3ZfoIDFccMFlqz_k1SPmHxziv6Q/edit?usp=sharing">Lecture 8: Error recap, interpreting results, intro to one-way ANOVA</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_4">Lab 4: Exploratory graphs, wrangling, t-test, effect size, power</a></td>
</tr>
<tr class="even">
<td>5</td>
<td><a href="https://docs.google.com/presentation/d/1uheomtmWANtL7QhCoZoqWlhMM_1xghuqBs5MR-aORh8/edit?usp=sharing">Lecture 9: One-way ANOVA, Tukey's HSD, no dynamite plots!</a><br><a>(Midterm Wednesday)</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_5">Lab 5: Wrangling, power, joins, viz</a></td>
</tr>
<tr class="odd">
<td>6</td>
<td><a href="https://docs.google.com/presentation/d/1zuOq7MC9uBC8htIMuMPFmeCSSkuKENCX7a4QSiRMKXg/edit?usp=sharing">Lecture 10: Intro to rank-based tests</a><br><a href="https://docs.google.com/presentation/d/1kNJmsK2kesGIax71ztCLEZ90gtnjrvpHESSZIEuCUxs/edit?usp=sharing">Lecture 11: Rank-based tests, Cliff's delta, chi-square intro</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_6">Lab 6: GitHub intro, wrangling, visualization, ANOVA</a></td>
</tr>
<tr class="even">
<td>7</td>
<td><a>(Monday holiday)</a><br><a href="https://docs.google.com/presentation/d/10ytaAuKRV3MT0XUFhr5ruNFAj8DZoFYUDHKZi-f-HC8/edit?usp=sharing">Lecture 12: Chi-square, intro to OLS & simple linear regression</a><br></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_7">Lab 7: GitHub continued, chi-square, rank-based tests</a></td>
</tr>
<tr class="odd">
<td>8</td>
<td><a href="https://docs.google.com/presentation/d/135E5IfUcB0GlvuKyS8nd_iGoC1Q1ECHUSayEroSQXPY/edit?usp=sharing">Lecture 13: OLS & simple linear regression, diagnostics, correlation</a><br><a>(No lecture Wednesday)</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_8">Lab 8 (take home): Simple linear regression</a></td>
</tr>
<tr class="even">
<td>9</td>
<td><a href="https://docs.google.com/presentation/d/1MefaY9kdSiV6mhSOQiOyIr38vRSFzkcAdihdyrcliXk/edit?usp=sharing">Lecture 14: Multiple linear regression intro</a><br><a href="https://docs.google.com/presentation/d/1M4qCAL8X1lNtOM2rNrkTLZHYt2T-K-QqQEhkoTBfobM/edit?usp=sharing">Lecture 15: MLR continued, AIC, VIF, interactions, bias</a>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_9">Lab 9: Multiple linear regression</a></td>
</tr>
<tr class="odd">
<td>10</td>
<td><a href="https://docs.google.com/presentation/d/1AniD7kJPDLO_Cyz4bXRbJy7j1chPFXHXakC65uld7OA/edit?usp=sharing">Lecture 16: Intro to logistic regression</a><br><a href="https://docs.google.com/presentation/d/1byxNguQRbRu5ZmSkIX5n6OegGGvhPWBbZMautd6YPbw/edit?usp=sharing">Lecture 17: Course review and important things</a></td>
<td><a href="https://github.com/allisonhorst/esm-206-2018/tree/master/week_10">Lab 10: Heatmaps, gganimate</a></td>
</tr>
</tbody>
</table>
<br>

<p><b>Course resources:</b></p>
<p><a href="https://r4ds.had.co.nz/">R for Data Science (Grolemund & Wickham)</a></p>
<p><a href="https://serialmentor.com/dataviz/">Fundamentals of Data Visualization by Claus Wilke</a></p>
<p><a href="http://ohi-science.org/data-science-training/">Ocean Health Index Open Data Science Training</a></p>
<p><a href="https://happygitwithr.com/">Happy Git with R by Jenny Bryan</a></p>


</section>
