<section style="background-color: #efeadf; color: gray">

<br>
<br>

<p><b>ESM 244 course description:</b> A survey course in advanced topics in statistics and data analysis for environmental scientists (ordinal and multinomial logistic regression, bootstrapping, non-linear models, intro to time-series analysis, spatial data analysis and interpolation, ordination methods, cluster analysis, text mining, etc.) while continuing to build skills and habits in data science (data wrangling, analysis & computational reproducibility in R/RStudio, version control and collaboration with R and GitHub). Term project: build a Shiny app.</p>
<br>
<p><a href="https://docs.google.com/document/d/1hKd3nA5NbhxI_PEDKL7rwDsEcapB9Ly6TdR5DxVeWrE/edit?usp=sharing"><b>ESM 244 course syllabus (Winter 2020)</b></a></p>
<p><a href="https://docs.google.com/document/d/1GXPBo3LA-GWo1z8RiKw9tsP3uaItQ6roy3_XfpXLMBI/edit?usp=sharing"><b>ESM 244 Code of Conduct</b></a></p>
<br>

<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="white">
<colgroup>
<col width="12%"></col>
<col width="44%"></col>
<col width="44%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>LAB MATERIALS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td><a href="https://docs.google.com/presentation/d/1-ZjVAs6j1UwCYjoKkgfG43Rnz8q3066ARQCnlsj66yc/edit?usp=sharing">Lecture 1: Course welcome, 206 review, PCA intro</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab1">Lab 1: data wrangling + visualization review, get going with blogdown</a></td>
</tr>
<tr class="even">
<td>2</td>
<td><a href="https://docs.google.com/presentation/d/1_2d9U83gBqIfFbbrINv8WFj2QSj46UyIZvwcHN4-B2c/edit?usp=sharing">Lecture 2: PCA continued, RDA intro</a><br><a href="https://drive.google.com/open?id=1Je6tCd5ZFUCSa3ZG3gAsjLQBCdOFBbO1kzG06psKxJQ">Getting started with Shiny teaching key</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab2">Lab 2: Getting started in Shiny, data wrangling continued, exploring missings, and a PCA example</a></td>
</tr>
<tr class="odd">
<td>3</td>
<td><a href="https://docs.google.com/presentation/d/1w8B3XiUSX8Tmf-t3-c3SpMwJiq_cFijR606h31n2kok/edit?usp=sharing">Lecture 3: Binary logistic regression intro</a><br><a href="https://docs.google.com/presentation/d/1zmhnvCilBb6BF3_y3QlxyBxmbArHGQyCNEtHGx6I1QI/edit?usp=sharing">Lecture 4: Logistic regression continued</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab3">Lab 3: Binary logistic regression, some maps</a></td>
</tr>
<tr class="even">
<td>4</td>
<td><a href="">Lecture 6: </a><br><a href="">Lecture 7: </a></td>
<td><a href="">Lab 4: </a></td>
</tr>
<tr class="odd">
<td>5</td>
<td><a href="">Lecture 8: </a><br><a href="">Lecture 9: </a></td>
<td><a href="">Lab 5: </a></td>
</tr>
<tr class="even">
<td>6</td>
<td><a href="">Lecture 11: </a><br><a href="">Lecture 12:</a></td>
<td><a href="">Lab 6: </a></td>
</tr>
<tr class="odd">
<td>7</td>
<td><a href="">Lecture 13: </a></td>
<td><a href="">Lab 7: </a></td>
</tr>
<tr class="even">
<td>8</td>
<td><a href="">Lecture 14: </a><br><a href="">Lecture 15: </a></td>
<td><a href="">Lab 8: </a></td>
</tr>
<tr class="odd">
<td>9</td>
<td><a href="">Lecture 16: </a></td>
<td><a href="">Lab 9: </a></td>
</tr>
</tbody>
</table>
<br>
<br>
<p><b>ESM 244 ARCHIVES</b></p>
<ul style="margin-left:40px">
  <li>ESM 244 (Winter 2019): <a href="https://github.com/allisonhorst/esm-244-2019">Click for links to W2019 lectures & labs</a>
  </li>
</ul>
</section>
