<section style="background-color: #efeadf; color: gray">

<br>
<br>

<p><b>ESM 244 course description:</b> A survey course in advanced topics in statistics and data analysis for environmental scientists (ordinal and multinomial logistic regression, bootstrapping, non-linear models, intro to time-series analysis, spatial data analysis and interpolation, ordination methods, cluster analysis, text mining, etc.) while continuing to build skills and habits in data science (data wrangling, analysis & computational reproducibility in R/RStudio, version control and collaboration with R and GitHub). Term project: build a Shiny app.</p>
<br>
<p><a href="https://docs.google.com/document/d/1hKd3nA5NbhxI_PEDKL7rwDsEcapB9Ly6TdR5DxVeWrE/edit?usp=sharing"><b>ESM 244 course syllabus (Winter 2020)</b></a></p>
<p><a href="https://docs.google.com/document/d/1GXPBo3LA-GWo1z8RiKw9tsP3uaItQ6roy3_XfpXLMBI/edit?usp=sharing"><b>ESM 244 Code of Conduct</b></a></p>
<br>

<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="white">
<colgroup>
<col width="12%"></col>
<col width="44%"></col>
<col width="44%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>LAB MATERIALS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td><a href="https://docs.google.com/presentation/d/1srHU3Lu98cHdVaEUnd3hLyUuBML7V9J11PAJ9fRz4Lw/edit?usp=sharing">Lecture 1: Course welcome, 206 review, PCA intro</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab1">Lab 1: data wrangling + visualization review, get going with blogdown</a></td>
</tr>
<tr class="even">
<td>2</td>
<td><a href="https://docs.google.com/presentation/d/1_2d9U83gBqIfFbbrINv8WFj2QSj46UyIZvwcHN4-B2c/edit?usp=sharing">Lecture 2: PCA continued, RDA intro</a><br><a href="https://drive.google.com/open?id=1Je6tCd5ZFUCSa3ZG3gAsjLQBCdOFBbO1kzG06psKxJQ">Getting started with Shiny teaching key</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab2">Lab 2: Getting started in Shiny, data wrangling continued, exploring missings, and a PCA example</a></td>
</tr>
<tr class="odd">
<td>3</td>
<td><a href="https://docs.google.com/presentation/d/1w8B3XiUSX8Tmf-t3-c3SpMwJiq_cFijR606h31n2kok/edit?usp=sharing">Lecture 3: Binary logistic regression intro</a><br><a href="https://docs.google.com/presentation/d/1zmhnvCilBb6BF3_y3QlxyBxmbArHGQyCNEtHGx6I1QI/edit?usp=sharing">Lecture 4: Logistic regression continued</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab3">Lab 3: Binary logistic regression, some maps</a></td>
</tr>
<tr class="even">
<td>4</td>
<td>Take-home labs (`sf` + `Shiny`)</td>
<td>Take-home (no in-class labs)</td>
</tr>
<tr class="odd">
<td>5</td>
<td><a href="https://docs.google.com/presentation/d/1HCtKHLQhlhbGq1wKAiY7sbr_MtTXWApndK6TidYpL9A/edit?usp=sharing">Lecture 5: Intro to time-series data exploration and analysis</a><br><a href="https://docs.google.com/presentation/d/1D2iSs3J00oiT3f1Z-XwUAgJmeOBJMRt_DR8-QE3iunc/edit?usp=sharing">Lecture 6: Decomposition and forecasting overview</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab5">Lab 5: Time series + gh-pages!</a></td>
</tr>
<tr class="even">
<td>6</td>
<td><a href="https://docs.google.com/presentation/d/1TmcLGVHVkv4gcCif0iXFT4CUcfeYFb_48qkN8i_OtNc/edit?usp=sharing">Lecture 7: Intro to spatial data, variograms and kriging</a><br><a href="https://docs.google.com/presentation/d/1sKG0eQuT8RH8CDb2v3FddfxjVsiPCDCf1ouTZoQzSkY/edit?usp=sharing">Lecture 8: Kriging continued, intro to point pattern analysis</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab6">Lab 6: Check out a GeoTIFF, variograms, kriging</a></td>
</tr>
<tr class="odd">
<td>7</td>
<td><a href="https://docs.google.com/presentation/d/1kVmQl66yRxVQcV6bRCBqye9P_Yfs_Y7aQ8o8BNWVkTk/edit?usp=sharing">Lecture 9: Point pattern analysis, kernel density, intro to cluster analysis</a><br><a href="https://docs.google.com/presentation/d/1xtl7BARv3Qepnh9FubdGtGNqAU-bnG1PXBx2sRJUvaU/edit?usp=sharing">Lecture 10: Hierarchical clustering methods</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab7">Lab 7: Point pattern analysis, k-means, hierarchical clustering</a></td>
</tr>
<tr class="even">
<td>8</td>
<td><a href="https://docs.google.com/presentation/d/1hPk_8ZQddK0OGVG2NSFmPh4lmhzyo7jmald-TGkjNL4/edit?usp=sharing">Lecture 11: Bayesian case studies, intro to text mining and analysis</a><br><a href="https://docs.google.com/presentation/d/1YMaX59f2pmK6Ro7gLcjeJ22NMgaL68K9fp4X6BvXYwg/edit?usp=sharing">Lecture 12: Sentiment analysis</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab8">Lab 8: Text mining and sentiment analysis with `tidytext`!</a></td>
</tr>
<tr class="odd">
<td>9</td>
<td><a href="https://docs.google.com/presentation/d/1AVRBBkxlBMxQbcC0aPdVghi6Su-WejIDVbMrjRFNVvI/edit?usp=sharing">Lecture 13: Bootstrapping</a><br><a href="https://docs.google.com/presentation/d/1-NTsWXJmysOF0lB9Tl9ErR2uXmL8Mmrp_TtIMtLUFSM/edit?usp=sharing">Lecture 14: Nonlinear least squares </a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab9">Lab 9: Bootstrapping & nonlinear least squares</a></td>
</tr>
<td>10</td>
<td><a href="https://docs.google.com/presentation/d/1JBeZ3p7amck8a8jS8xZQwnpdSN_LlXQfP4Q5VnetM4w/edit?usp=sharing">Lecture 15: Becoming a nimble modern data scientist - interfacing with other languages & tools</a><br><a href="">Lecture 16: Course review and where you should go from here</a></td>
<td><a href="https://github.com/allisonhorst/esm244-w2020-lab10">Lab 10: Working with SQL and Python in R Markdown</a></td>
</tr>
</tbody>
</table>
<br>
<br>
<p><b>ESM 244 ARCHIVES</b></p>
<ul style="margin-left:40px">
  <li>ESM 244 (Winter 2019): <a href="https://github.com/allisonhorst/esm-244-2019">Click for links to W2019 lectures & labs</a>
  </li>
</ul>
</section>
