<section style="background-color: #ffffff; color: black">
<br>

<h4 style="margin-left:50px"><b>EDS 220 MATERIALS (FALL 2021)</b></h4>
<br>
<br>

<p><b>Course description:</b> </p> 
 
<p> This course will give you an overview of various types of data that are used in environmental science. This course WILL NOT make you an expert in EVERY type of environmental data out there! That is impossible... 
 but what you CAN expect is to become familiar enough with the principles behind data analysis, quality control and data documentation, and some commonly used file formats and metadata standards to be able to 
 master any new dataset you encounter out there in the real world! We'll have an emphasis on remotely sensed data products, but will also discuss some in situ data products and 'weird' data (drones, seagliders, that sort of thing).
 </p>
<br>
 
 <p></p>
<p><b>Course learning objectives:</b></p>
 <ul style="margin-left:40px">
  <li>Comparing passive and active remote sensing techniques</li>
  <li>Analyzing different types of environmental datasets, ranging from ecological to physical </li>
  <li>Practicing data access using major publicly available databases </li>
  <li>Categorizing best practices for data management: quality control, post-processing and interpolation/dealing with missing data, etc </li>
  <li>Designing individualized analyses of environmental data </li>
  <li>Communicating strengths and weaknesses of datasets to student colleagues</li>
</ul>
 <br>
 
 <p></p>
<p><b>Important Course Tools:</b></p>

<ul style="margin-left:40px">
 <li><a href="https://docs.google.com/document/d/1GQxkrk6je4SYHKDiGoX-6Gumnybi12f5FM1k25jeRGA/edit"><b>EDS 220 course syllabus (Fall 2021)</b></a></li>
 <li><a href="https://github.com/samanthastevenson/EDS220_Fall2021"><b>EDS 220 Github repo (in-class lab materials)</b></a></li>
 
</ul>
 
 <p></p>
 <p><b>Potentially useful resources:</b></p>
 
 <p> This course will be taught using the Python programming language. Since this may be the first time many MEDS students have worked with Python in detail, 
  I will be providing resources on Python basics and techniques throughout the course. Keep checking back here for additional resources!</p>
 
<ul style="margin-left:40px">
 <li><a href="https://agupubs.onlinelibrary.wiley.com/doi/book/10.1002/9781119606925">Earth Observation Using Python - A Practical Programming Guide</a> (electronic book; should be accessible from UCSB network) </li>
<li><a href="https://www.datacamp.com/courses/intro-to-python-for-data-science">Introduction to Python (DataCamp)</a></li>
</ul>

 <p></p>
<p><b>Course Schedule (subject to change):</b></p>
 
<table style="width:80%" align="center" border=1 frame=void rules=rows bordercolor="gainsboro">
<colgroup>
<col width="10%"></col>
<col width="30%"></col>
<col width="30%"></col>
<col width="30%"></col>
</colgroup>
<thead>
<tr class="header">
<th>WEEK</th>
<th>LECTURES</th>
<th>CODING MATERIALS</th>
<th>SLIDES</th>
</tr>
</thead>
<tbody>
<tr class="even" valign="top">
<td>1</td>
<td>Overview of environmental data; fundamentals of remote sensing <a href=""></a><br><br></td>
<td> <a href="https://github.com/samanthastevenson/EDS220_Fall2021/blob/main/Week1_ERA5Maps_GEE.ipynb">In-class exercise: GEE mapping</a> 
 </td><td> <a href="https://docs.google.com/presentation/d/1HG_AN7RZ4ARznBIWTocz3aMvU5MNzVggu2lLi1DBwPQ/edit#slide=id.ge9ba72f981_0_20">Slides (9/27) </a>
 <br> <a href="https://docs.google.com/presentation/d/18SNVoaBXjdQxUmBDlaNJsoIOSr5Zlz50dNwpNlOxhuo/edit#slide=id.ge8c8f4eb9e_0_0"> Slides (9/29)</a>
 </td>
</tr>
<tr class="odd" valign="top">
<td>2</td>
<td> Snow Remote Sensing* <a href=""></a></td>
 <td></td><td> <a href="https://docs.google.com/presentation/d/1vUUfhbtPVFAJrIRl1gHyuMpRclOQgq9d/edit?usp=sharing&ouid=110885478557650032978&rtpof=true&sd=true"> Slides (10/4) </a> 
 <br> <a href="https://docs.google.com/presentation/d/1TRJykGGxR-aE7ArHGOrxgJx4cHYovH9L/edit?usp=drive_web&ouid=110885478557650032978&rtpof=true"> Slides (10/6)</a></td>
</tr>
<tr class="even" valign="top">
<td>3</td>
<td> Considerations in remote sensing; multispectral imaging with Landsat; how to find environmental data <a href=""></a></td>
 <td><a href="https://github.com/samanthastevenson/EDS220_Fall2021/blob/main/Landsat_NDVI_GEE.ipynb">Calculating NDVI from Landsat data</a></td>
 <td><a href="https://docs.google.com/presentation/d/1S1UsRDTriN4vvgI0_EWdAJpm9edWZSPRb8ZjQ0xeN-8/edit#slide=id.geab1d8e9c6_0_110"> Slides (10/11) </a>
  <br> <a href="https://docs.google.com/presentation/d/1eIpWeSkwgNgzP12wQ5mESwC6VAL-yqUrwd0HWXbU35o/edit#slide=id.gf7cdc5f904_0_25"> </a></td>
</tr>
<tr class="even" valign="top">
<td>4</td>
<td>Best practices in managing environmental data; environmental sensor networks <a href=""></a></td>
<td></td><td></td>
</tr>
<tr class="even" valign="top">
<td>5</td>
<td>Snow Remote Sensing Intensive* <a href=""></a></td>
<td></td><td></td>
</tr>
<tr class="even" valign="top">
<td>6</td>
<td>Climate data and model projections; student presentations <a href=""></a></td>
<td></td><td></td>
</tr>
 <tr class="even" valign="top">
<td>7</td>
<td>Ocean remote sensing intensive <a href=""></a></td>
<td></td><td></td>
</tr>
<tr class="even" valign="top">
<td>8</td>
<td>Other Cool Datasets: Intensive</td>
<td></td><td></td>
</tr>
<tr class="even" valign="top">
<td>9</td>
<td>Student Final Projects<td></td><td></td>
</tr>
<tr class="even" valign="top">
<td>10</td>
<td>Student Final Projects</td>
<td></td><td></td>
</tr>

<br>
 
 
</tbody>
</table>
<br>
*led by guest lecturer Timbo Stillinger, UCSB Earth Research Institute


</section>
