<section style="background-color: #efeadf; color: gray" id="alumni_workshop">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h4><b>Bren alumni R/RStudio refresher workshop (August 2019)</b></h4>
                <!--<hr class="light">-->
                <ul>
                  <li>Session 1: R/RStudio review, intro to data wrangling & viz with tidyverse functions</li>
                  <li>Session 2: RMarkdown intro, wrangling & viz continued</li>
                  <li>Session 3: Intro to spatial data analysis and viz</li>
                  <li>Session 4: Intro to Shiny apps</li>
                  </ul>
            </div>
        </div>
    </div>
</section>
