<section style="background-color: #efeadf; color: gray" id="alumni_workshop">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">

                <ul>

                <h4><b>Bren MESM Math Bootcamp</b></h4>
                <ul>
                  <li><b>Day 1:</b> Algebra review, slope, derivatives intro</li>
                  <ul>
                    <li><a href="https://docs.google.com/presentation/d/1nTWCK4Qoa2DYokYzSj06Plj2bAUilrJ6BeYBbtI0dqw/edit?usp=sharing">Day 1 slides</a></li>
                    <li><a href="https://docs.google.com/document/d/152t8nANLqKiOMzkPiPjrloUMuluzRhbV3Re2uV4bur0/edit?usp=sharing">Day 1 practice problems</a></li>
                    </ul>
                    <li><b>Day 2:</b> Derivatives continued, rules, applications, partials</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1sZlcKWT7C5RP7tzMZieQpLxxFR7Q3cOouS-c6cBgeIU/edit?usp=sharing">Day 2 slides</a></li>
                      <li><a href="https://docs.google.com/document/d/1O_Jw_TPmx9hJm-x0VQWFm3ijqshjGxCw-miXoUA66L8/edit?usp=sharing">Day 2 practice problems</a></li>
                      </ul>
                    <li><b>Day 3:</b> Logs & exponents, integration introduction</li>
                    <ul>
                      <li>Day 3 slides</li>
                      <li>Day 3 practice problems & solutions</li>
                      </ul>
                    <li><b>Day 4:</b> blah blah</li>
                    <ul>
                      <li>Day 4 slides</li>
                      <li>Day 4 practice problems & solutions</li>
                      </ul>
                    <li><b>Day 5:</b> blah blah</li>
                    <ul>
                      <li>Day 5 slides</li>
                      <li>Day 5 practice problems & solutions</li>
                      </ul>
                  </ul>

                <br>

                <h4><b>Bren PhD Quantitative Refresher & R/RStudio Intro Workshop</b></h4>
                <h5><b><a href="">Click here</a> for complete R/RStudio materials (Days 4 - 7 of workshop).</b></h5>
                <br>
                <!--<hr class="light">-->
                <ul>
                  <li><b>Day 1:</b> Algebra warm-up, derivatives review <a href="https://docs.google.com/presentation/d/1AP1Z6MyYI7X9czpDmr_iFmSYCDIz3dH2SC9XOa5gDr0/edit?usp=sharing">(Day 1 slides)</a></li>
                  <li><b>Day 2:</b> Partials, integration (basic concepts), calculus applications, probability density <a href="https://docs.google.com/presentation/d/1luLAQCubU2AS_vhfOjjGELQgbTRXPHRJ0-Bki0nNAZ0/edit?usp=sharing">(Day 2 slides)</a></li>
                  <li><b>Day 3:</b> Hypothesis testing bonanza, p-value cautions, regression recap <a href="https://docs.google.com/presentation/d/1Eud3hor7ttPIeruxTQuAWWWMg0CE7OSIANH2FDYAHcU/edit?usp=sharing">(Day 3 slides)</a></li>
                  <li><b>Day 4 Part 1:</b> Regression continued, reproducibility in research, data science workflows <a href="https://docs.google.com/presentation/d/1eZQ_u2o6HIC4B0-m5YpJZJDd5roDt6dEoEXsqZB8wJA/edit?usp=sharing">(Day 4 slides)</a></li>
                  <li><b>Day 4 Part 2:</b> R/RStudio intro - .Rproj, importing data, basic wrangling with dplyr, pipe operator</li>
                  <ul>
                    <li>Packages required: tidyverse</li>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_4_part_2_materials.zip">Download Day 4 Part 2 materials</a>
                      </li>
                      </ul>
                  <li><b>Day 5:</b> Rmarkdown, wrangling with the tidyverse continued, dataviz with ggplot2</li>
                  <ul>
                    <li>R packages required: tidyverse</li>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_5_materials.zip">Download Day 5 materials</a>
                      </li>
                      </ul>


                  <li><b>Day 6:</b> Wrangling & viz continued, hypothesis tests, regression (DOWNLOAD DAY 6 MATERIALS)</li>
                  <ul>
                    <li>Packages required: tidyverse, janitor, RColorBrewer, ggbeeswarm, stargazer</li>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_6_materials.zip">Download Day 6 materials</a>
                      </li>
                      </ul>
                  <li><b>Day 7:</b> Intro to spatial data vizualization and analysis in R (DOWNLOAD DAY 7 MATERIALS)</li>
                  </ul>


                    <br>
                    <hr>
                    <br>

                <h4><b>Bren alumni R/RStudio refresher workshop (August 2019)</b></h4>
                <h5><b><a href="https://github.com/allisonhorst/bren-alumni-r-workshop-2019">Click here</a> for complete workshop materials on GitHub, or download materials below.</b></h5>
                <br>
                <!--<hr class="light">-->
                <ul>
                  <li><b>Session 1: R/RStudio review, intro to data wrangling & viz with tidyverse functions</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, janitor, ggrepel</li>
                    <li><a href="data_files/session_1_materials.zip">Download Session 1 materials (data, instructor key, etc.)</a></li>
                    <li><a href="https://vimeo.com/354895867">Watch the Session 1 recording</a></li>
                    </ul>
                  <li><b>Session 2: RMarkdown intro, wrangling & viz continued</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, janitor</li>
                    <li><a href="data_files/session_2_materials.zip">Download Session 2 materials</a></li>
                    <li><a href="https://vimeo.com/355354796">Watch the Session 2 recording</a> - (screen share starts at 2:10...oops)
                    </li>
                    </ul>
                  <li><b>Session 3: Intro to spatial data import, wrangling and viz with sf, ggplot2, and tmap</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, sf, tmap (dev version) </li>
                    <li><a href="data_files/session_3_materials.zip">Download Session 3 materials</a></li>
                    <li><a href="https://vimeo.com/356204928">Watch the Session 3 recording</a>
                    </li>
                    </ul>
                  <li><b>Session 4: Intro to Shiny apps</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, shiny, shinydashboard</li>
                    <li><a href="https://vimeo.com/356696243">Watch the Session 4 recording</a></li>
                    <li>Download Session 4 materials:</li>
                    <ul>
                      <li><a href="https://docs.google.com/document/d/10comDjOLldLf3NU-9vwzBlyGaqJcQPcscJDcnB_VdV8/edit?usp=sharing">Step-by-step instructions for teaching the following examples</a></li>
                      <li><a href="data_files/session_4_ex_1.zip">Shiny example 1 data & key.</a>  Penguin data from <a href="https://doi.org/10.6073/pasta/abc50eed9138b75f54eaada0841b9b86">Kristen Gorman (Palmer Station Antarctica LTER)</a>.</li>
                      <li><a href="data_files/session_4_ex_2.zip">Shiny example 2 (no external data required)</a></li>
                      <li><a href="data_files/session_4_ex_3.zip">Shinydashboard example (no external data required)</a></li>
                    </ul>
                    </ul>
                  </ul>
                  </ul>
            </div>
        </div>
    </div>
</section>
