<section style="background-color: #efeadf; color: gray" id="alumni_workshop">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">

                <ul>
                <h4><b>SCCWRP Data Viz 1/2 Day Workshop (November 2019)</b></h4>
                <ul>
                  <li><a href="https://docs.google.com/presentation/d/1EA_PfTiSXh8J0JH03d1pcA6luVJeN2oUGozxhZoiydQ/edit?usp=sharing">Slide deck (all sessions)</a></li>
                  <li>Recommended resources:</li>
                  <ul>
                    <li><a href="https://serialmentor.com/dataviz/">Fundamentals of Data Visualization</a> by Claus O. Wilke</li>
                    <li><a href="https://www.data-to-viz.com/">From Data-to-Viz</a></li>
                    <li><a href="http://www.storytellingwithdata.com/">Storytelling with data</a></li>
                    </ul>
                  </ul>
<br>
                <h4><b>Santa Barbara R-Ladies: Intro to building Shiny apps in R! (October 2019)</b></h4>
                <ul>
                  <li><a href="https://github.com/allisonhorst/shiny-basics-sb-r-ladies">Materials on GitHub</a></li>
                </ul>
<br>
                <h4><b>Bren MESM Math Bootcamp</b></h4>
                <ul>
                  <li><b>Day 1:</b> Algebra review, slope, derivatives intro</li>
                  <ul>
                    <li><a href="https://docs.google.com/presentation/d/1nTWCK4Qoa2DYokYzSj06Plj2bAUilrJ6BeYBbtI0dqw/edit?usp=sharing">Day 1 slides</a></li>
                    <li><a href="https://docs.google.com/document/d/152t8nANLqKiOMzkPiPjrloUMuluzRhbV3Re2uV4bur0/edit?usp=sharing">Day 1 practice problems</a></li>
                    <li><a href="data_files/mesm_quant_workshop/day_1_solutions.pdf">Day 1 problem set solutions</a></li>
                    </ul>
                    <li><b>Day 2:</b> Derivatives continued, rules, applications, thinking about differential equations</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1sZlcKWT7C5RP7tzMZieQpLxxFR7Q3cOouS-c6cBgeIU/edit?usp=sharing">Day 2 slides</a></li>
                      <li><a href="https://docs.google.com/document/d/1O_Jw_TPmx9hJm-x0VQWFm3ijqshjGxCw-miXoUA66L8/edit?usp=sharing">Day 2 practice problems</a></li>
                      <li><a href="data_files/mesm_quant_workshop/day_2_solutions.pdf">Day 2 problem set solutions</a></li>
                      </ul>
                    <li><b>Day 3:</b> Logs & exponents, integration introduction</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1XA0I8xApkVNLs9Rkn5BG2vl5eZlVddLvMp2psMoZiBo/edit?usp=sharing">Day 3 slides</a></li>
                      <li><a href="https://docs.google.com/document/d/1Z-XO87hMYsPj_FAOYzhA74Q6u_OcARWTaOBJvePkBJw/edit?usp=sharing">Day 3 practice problems</a></li>
                      <li><a href="data_files/mesm_quant_workshop/day_3_solutions.pdf">Day 3 problem set solutions</a></li>
                      </ul>
                    <li><b>Day 4:</b> Integration continued - particular solutions, definite integrals, applications</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1mlO77cdTYzj06HeqRq5l8cbHEH9mVlt_fCxovTdVnjQ/edit?usp=sharing">Day 4 slides</a></li>
                      <li><i>No practice problems today, enjoy your weekend!</i></li>
                      </ul>
                    <li><b>Day 5:</b> Trig review, partial derivatives, multiple integrals</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1X7PLfFxmoJwGeITP19_NEVlnJEyJ6U2xkiK2Hm6i_MU/edit?usp=sharing">Day 5 slides</a></li>
                      <li><a href="https://docs.google.com/document/d/1CQeGCM-qWQivv5_DGRfUmlVWbbxC32GPczf1Bl75Ydo/edit?usp=sharing">Day 5 practice problems</a></li>
                      <li><a href="data_files/mesm_quant_workshop/day_5_solutions.pdf">Day 5 problem set solutions</a></li>
                      </ul>
                    <li><b>Day 6:</b> Dimensional analysis, significant figures, orders of magnitude, unit conversion, log transform</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1O3RV7sdhMahhvMLa3LhKKtvE6eGkosu7-fD4chusqKM/edit?usp=sharing">Day 6 slides</a></li>
                      <li><a href="https://docs.google.com/document/d/1mZdY0pYrteEvaSBi_-ecxUUjkYLGHK8yAAF9iuDurv4/edit?usp=sharing">Day 6 practice problems</a></li>
                      <li><a href="data_files/mesm_quant_workshop/day_6_solutions.pdf">Day 6 problem set solutions</a></li>
                      </ul>
                    <li><b>Day 7:</b> Basic probability theory, Bayes' theorem, probability density</li>
                    <ul>
                      <li><a href="https://docs.google.com/presentation/d/1o8zpytGDPK2OgrMw7qXURRbf4x6aE4gNfD13vcTLwWE/edit?usp=sharing">Day 7 slides</a></li>
                      </ul>
                      <li><b><a href="data_files/mesm_quant_workshop/cheat_sheet_2019.pdf">Workshop cheatsheet</a></b></li>
                      </ul>
<br>
                <h4><b>Bren PhD Quantitative Refresher & R/RStudio Intro Workshop</b></h4>
                <h5><b><a href="https://github.com/allisonhorst/bren-phd-workshop-r-materials">Click here</a> for complete R/RStudio materials (Days 4 - 7 of workshop)</b> from GitHub, or if you're not using GitHub you can download necessary data/keys in zipped folders below</h5>
                <!--<hr class="light">-->
                <ul>
                  <li><b>Day 1:</b> Algebra warm-up, derivatives review <a href="https://docs.google.com/presentation/d/1AP1Z6MyYI7X9czpDmr_iFmSYCDIz3dH2SC9XOa5gDr0/edit?usp=sharing">(Day 1 slides)</a></li>
                  <li><b>Day 2:</b> Partials, integration (basic concepts), calculus applications, probability density <a href="https://docs.google.com/presentation/d/1luLAQCubU2AS_vhfOjjGELQgbTRXPHRJ0-Bki0nNAZ0/edit?usp=sharing">(Day 2 slides)</a></li>
                  <li><b>Day 3:</b> Hypothesis testing bonanza, p-value cautions, regression recap <a href="https://docs.google.com/presentation/d/1Eud3hor7ttPIeruxTQuAWWWMg0CE7OSIANH2FDYAHcU/edit?usp=sharing">(Day 3 slides)</a></li>
                  <li><b>Day 4 Part 1:</b> Regression continued, reproducibility in research, data science workflows <a href="https://docs.google.com/presentation/d/1eZQ_u2o6HIC4B0-m5YpJZJDd5roDt6dEoEXsqZB8wJA/edit?usp=sharing">(Day 4 slides)</a></li>
                  <li><b>Day 4 Part 2:</b> R/RStudio intro - .Rproj, importing data, basic wrangling with dplyr, pipe operator</li>
                  <ul>
                    <li>Packages required: tidyverse</li>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_4_part_2_materials.zip">Download Day 4 Part 2 materials</a>
                      </li>
                      </ul>
                  <li><b>Day 5:</b> Rmarkdown, wrangling with the tidyverse continued, dataviz with ggplot2</li>
                  <ul>
                    <li>R packages required: tidyverse</li>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_5_materials.zip">Download Day 5 materials</a>
                      </li>
                      </ul>


                  <li><b>Day 6:</b> Wrangling & viz continued, hypothesis tests, regression</li>
                  <ul>
                    <li>Packages required: tidyverse, janitor, RColorBrewer, ggbeeswarm, stargazer</li>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_6_materials.zip">Download Day 6 materials</a>
                      </li>
                      </ul>
                  <li><b>Day 7:</b> Wrangling, mlr, intro to spatial data wrangling & vizualization</li>
                  <ul>
                    <li>Packages required: tidyverse, *tidyr, janitor, corrplot, sf, stargazer, **tmap</li>
                    <ul>
                      <li>*You need to install the recent release of tidyr from CRAN (just run <code>install.packages("tidyr")</code> in the Console) to use the updated pivot_longer() and pivot_wider functions</li>
                      <li>**Get the <b>development version</b> of the <code>tmap</code> package by: (1) install <code>devtools</code> package (<code>install.packages("devtools")</code>), (2) attach devtools by running <code>library(devtools)</code> in the console, (3) run the following to install development version of tmap: <code>install_github('mtennekes/tmap')</code>, (4) check to see if you can attach tmap in the console with <code>library(tmap)</code>. Yes? Great! You have the development version of tmap.</li>
                      </ul>
                    <li>
                      <a href="data_files/phd_quant_workshop/day_7_materials.zip">Download Day 7 materials</a>
                      </li>
                      </ul>
                  </ul>
<br>
                <h4><b>Bren alumni R/RStudio refresher workshop (August 2019)</b></h4>
                <h5><b><a href="https://github.com/allisonhorst/bren-alumni-r-workshop-2019">Click here</a> for complete workshop materials on GitHub, or download materials below.</b></h5>
                <br>
                <!--<hr class="light">-->
                <ul>
                  <li><b>Session 1: R/RStudio review, intro to data wrangling & viz with tidyverse functions</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, janitor, ggrepel</li>
                    <li><a href="data_files/bren_alumni_rworkshop_2019/session_1_materials.zip">Download Session 1 materials (data, instructor key, etc.)</a></li>
                    <li><a href="https://vimeo.com/354895867">Watch the Session 1 recording</a></li>
                    </ul>
                  <li><b>Session 2: RMarkdown intro, wrangling & viz continued</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, janitor</li>
                    <li><a href="data_files/bren_alumni_rworkshop_2019/session_2_materials.zip">Download Session 2 materials</a></li>
                    <li><a href="https://vimeo.com/355354796">Watch the Session 2 recording</a> - (screen share starts at 2:10...oops)
                    </li>
                    </ul>
                  <li><b>Session 3: Intro to spatial data import, wrangling and viz with sf, ggplot2, and tmap</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, sf, tmap (dev version) </li>
                    <li><a href="data_files/bren_alumni_rworkshop_2019/session_3_materials.zip">Download Session 3 materials</a></li>
                    <li><a href="https://vimeo.com/356204928">Watch the Session 3 recording</a>
                    </li>
                    </ul>
                  <li><b>Session 4: Intro to Shiny apps</b></li>
                  <ul>
                    <li>Packages needed: tidyverse, shiny, shinydashboard</li>
                    <li><a href="https://vimeo.com/356696243">Watch the Session 4 recording</a></li>
                    <li>Download Session 4 materials:</li>
                    <ul>
                      <li><a href="https://docs.google.com/document/d/10comDjOLldLf3NU-9vwzBlyGaqJcQPcscJDcnB_VdV8/edit?usp=sharing">Step-by-step instructions for teaching the following examples</a></li>
                      <li><a href="data_files/bren_alumni_rworkshop_2019/session_4_ex_1.zip">Shiny example 1 data & key.</a>  Penguin data from <a href="https://doi.org/10.6073/pasta/abc50eed9138b75f54eaada0841b9b86">Kristen Gorman (Palmer Station Antarctica LTER)</a>.</li>
                      <li><a href="data_files/bren_alumni_rworkshop_2019/session_4_ex_2.zip">Shiny example 2 (no external data required)</a></li>
                      <li><a href="data_files/bren_alumni_rworkshop_2019/session_4_ex_3.zip">Shinydashboard example (no external data required)</a></li>
                    </ul>
                    </ul>
                  </ul>
                  </ul>
            </div>
        </div>
    </div>
</section>
