<section style="background-color: #43485d; color: white" id="phd_workshop">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Other workshops</h2>
                <!--<hr class="light">-->
                <!--<p class="text-faded">August 2019</p>-->

            </div>
        </div>
    </div>
</section>
